extends layout

block content
  h1= title
  - let results=[{gas_name:"Borosilicate",quantity:2,types:"Thermal resistance"},{gas_name:"Borosilicate",quantity:2,types:"Thermal resistance"},{gas_name:"Borosilicate",quantity:2,types:"Thermal resistance"}]
  div(class="row")
  each value,indexValue in results
    div(class="col-sm-2" onclick=`buy(${indexValue})`)  #{value.gas_name} Gas, quantity is #{value.quantity}, type #{value.resistance}
  script. 
    function buy(indexValue)
    {
      alert(`You purchased Item ${indexValue+1}`)
    } 